body{
	background: #02010a;
	font-family: 'Dancing Script', cursive;
}

header{
	background: #5b7989;
	color: white;
	text-shadow: 0px 2px 0px #02010a;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin: 0 auto;
	width: 900px;
	padding: 5px;
}

.encabezado{
	width: 900;
	border: 10px;
	display: flex;
	flex-wrap: nowrap;
}

#titulo{
	width: 50%;
	border: 10px;
	margin: auto;
	padding-left: 20px;
}

.navegador{
	width: 50%;
	margin: auto;
	word-spacing: 50px;
	padding-right: 20px;
}

#menu{
	text-align: right;
}

#menu a{
	color: white;
	text-decoration: none;
}

#contenido{
	justify-content: center;
}
