body{
	font-family: Dancing Script;
	background-color: #02010a;
}

.contenido{
	width: 900px;
	margin: 0 auto;
}

header{
	background-color: #5b7989;
	color: white;
	text-shadow: 0px 2px 0px #02010a;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-wrap: nowrap;
}

h1{
	width: 50%;
	border: 10px;
	margin: auto;
	padding: 20px;
	text-align: left;
}

nav{
	width: 50%;
	margin: auto;
	word-spacing: 50px;
	padding: 20px;
	text-align: right;
}

nav a{
	text-shadow: none;
	color: white;
	text-decoration: underline;
}

.contenido .section1{
	background-color: #82c3a6;
	text-align: center;
	padding: 30px;
}

.contenido .section2{
	background-color: #d5c75f;
	border: 1px;
	text-align: center;
	padding: 30px;
	display: flex;
	flex-wrap: nowrap;
}

.contenido .section2[class^=img]{
	display: inline-block;
	height: 150px;
	width: 350px;
	text-align: center;
	padding: 10px;
}

.img1{
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

.img2{
	margin: 0 auto;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}

#paisaje{
	width: 100%;
	box-shadow: 2px 2px #02010a;
}

.img1 #paisaje:hover{
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	transition-duration: 1s;
	box-shadow: 2px 2px #82c3a6;
	border: 2px;
}

.img1 #paisaje{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition-duration: 1s;
}

.img2 #niña:hover{
	transform: translateX(20px) translateY(-5px);
	transition-duration: 1s;
	box-shadow: 2px 2px #82c3a6;
	border: 2px;
}

.img2 #niña{
	transform: translateX(0px) translateY(0px);
	transition-duration: 1s;
}

#niña{
	width: 100%;
	box-shadow: 2px 2px #02010a;
}

#arbol{
	width: 70%;
	box-shadow: 2px 2px #02010a;
}

footer{
	background-color: #c6d5c5;
	color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-wrap: nowrap;
}

footer[class^='pie']{
	display: inline-block;
	height: 150px;
	width: 350px;
	text-align: center;
	padding: 10px;
}

.pie1{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie2{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie3{
	margin: 20px 20px;
	text-align: justify;
	font-weight: bold;
	width: 25%;
}

.pie3 h3{
	text-align: center;
}

.pie4{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie3 img{
	width: 20px;
	text-align: center;
}
