body{
	background-color: #02010a;
	font-family: Dancing Script;
}

header{
	background-color: #5b7989;
	color: white;
	text-shadow: 0px 2px 0px #02010a;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	flex-wrap: nowrap;
}

footer{
	background-color: #c6d5c5;
	color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	flex-wrap: nowrap;
}

a{
	color: white;
	text-shadow: none;
}

#encabezado{
	width: 50%;
	border: 10px;
	margin: auto;
	padding: 30px;
	text-align: left;	
}

#menu{
	width: 50%;
	margin: auto;
	word-spacing: 50px;
	padding: 30px;
	text-align: right;
}

.contenido{
	width: 900px;
	margin: 0 auto;
}

.seccion1{
	background-color: #82c3a6;
	text-align: center;
	padding: 30px;
}

.seccion2{
	background-color: #d5c75f;
	border: 1px;
	text-align: center;
	padding: 30px;
	display: flex;
	flex-wrap: nowrap;
}

.pie1{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie2{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie3{
	margin: 20px 20px;
	text-align: justify;
	font-weight: bold;
	width: 25%;
}

.pie3 h3{
	text-align: center;
}

.pie4{
	margin: 20px 20px;
	text-align: center;
	font-weight: bold;
	width: 25%;
}

.pie3 img{
	width: 20px;
	text-align: center;
}

#arbol{
	width: 60%;
	box-shadow: 2px 2px #02010a;
}

#paisaje{
	height: 50%;
	margin: 0 auto;
	word-spacing: 50px;
	text-align: right;
	box-shadow: 2px 2px #02010a;
	border: 2px;
}

#niña{
	height: 50%;
	margin: 0 auto;
	word-spacing: 50px;
	text-align: right;
	box-shadow: 2px 2px #02010a;
	border: 2px;
}

/*Animación imagen paisajes rotar 10 grados*/
#paisaje:hover{
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
	transition-duration: 1s;
	box-shadow: 2px 2px #82c3a6;
}

/*Animación imagen paisajes rotar a estado original 0 grados*/
#paisaje{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	transition-duration: 1s;
}

/*Animación imagen retratos hacia arriba y a la derecha*/
#niña:hover{
	transform: translateX(20px) translateY(-5px);
	transition-duration: 1s;
	box-shadow: 2px 2px #82c3a6;
	border: 2px;
}

/*Animación imagen retratos a posición original*/
#niña{
	transform: translateX(0px) translateY(0px);
	transition-duration: 1s;
}

/*Se manda llamar la animación*/
.contenido {
	animation-name: contenido-animacion;
	animation-duration: 1.5s;
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
/*Animación al cargar la página*/
@keyframes contenido-animacion{
	0%{
		position: relative;
		margin-top: 150%;
	}

	60%{
		position: relative;
		margin-top: -5%;
	}

	100%{
		position: relative;
		margin-top: 0%;
	}
}